<hr class="line-break">
<div class="nav-bar">
    <a class="nav-bar" href="/">Home</a> | <a class="nav-bar" href="/faves">My Artists</a> | <a class="nav-bar"
        href="/auth/logout">Logout</a>
</div>
<hr class="line-break">


<div>
    <form method="GET" action="/artists">
        <label for="query">Search by Artist</label>
        <input type="text" name="artist_name" id="artist" placeholder="Seach for Artist">
        <input type="submit" value="Go!">
    </form>
</div>
</br>
</br>
</br>
<footer>Provided by SongKick API</footer>