<hr>

<a href="/">Home</a> | <a href="/faves">My Artists</a> | <a href="/auth/logout">Logout</a> 

<hr>


<div>
    <form method="GET" action="/artists">
        <label for="query">Search by Artist</label>
        <input type="text" name="artist_name" id="artist" placeholder="Seach for Artist">
        <input type="submit" value="Go!">
    </form>
</div>