<hr>

<a href="/profile">Profile</a> | <a href="/faves">My Artists</a>

<hr>

<div>
    <form method="GET" action="/profileInfo/search">
        <label for="query">Search by Artist</label>
        <input type="text" name="artist_name" placeholder="Seach for Artist">
        <input type="submit" value="Go!">
    </form>
</div>

<% artists.forEach(artist => { %>
    <li>
        <%= artist.displayName %>
        <%= artist.onTourUntil %>
    </li>
<% }); %>